body {
    background: #c43535;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    max-width: 960px;
}

.wrapper {
    background-color: #9e8585;
    padding: 32px;
}

nav {
    background-color: rgb(64, 21, 21);
    color: #111b15;
    padding: 4px;
    font-size: 16px;
    margin-top: 0px;
}

nav li {
    font-weight: 400;
    padding: 16px;
}

nav li:hover {
    background-color: #ffffff;
}

.header_menu {
    text-align: center;
}

.header_menu li {
    display: inline;
    padding: 8px 8px 8px 8px;
    margin: 0 24px;
}

.rounded-border {
    border:2px #cdb7b7 solid;
    border-radius: 4px;
}

.header_menu a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

.header_menu a:hover {
    color: #c51a1a;
    text-decoration: none;
}

.header_menu a:active {
    color: #0c0505;
    text-decoration: none;
    background-color: #dfe2aa;
}

.footer {
    position: absolute;
    bottom: 0;
    display: inline;
    margin: auto;
}

.parent {
    background-color: #dfe2aa;
    margin: 10px;
    font-size: 24px;
    padding: 12px;
}

.one {
    background: green;
    width: 300px;
    height: 100px;
    margin: none;
    box-sizing: border-box;
}

.two {
    background-color: hwb(232 31% 26%);
    border: rgb(31, 18, 87) 4px;
    border-left: solid;
    font-size: 18px;
    margin: 24px;
}

.three {
    background-color: blue;
    width: initial;
    box-sizing: border-box;
}

.text {
    color:rgb(64, 21, 21);
    font-size: 16px;
    margin-top: 18px;
    text-align: justify;
    text-indent: 24px;
    line-height: 1.5;
    word-spacing: 4px;
    text-shadow: 2px 2px 5px rgb(103, 96, 96);

}

.letter {
    font-size: 12px;
    text-decoration-line: overline;
    text-decoration-color: red;
}

.one, .two, .three {
    padding: 10px;
}